<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second Try Wine API</title>
    <link rel="stylesheet" href="/client-side-code/css/style.css">
</head>
<body>
<section class="row">
    <section class="column">
        <h2>Input API Data Here</h2>
        <form action="/api" method="POST">
            <input type="text" placeholder="name" name="name">
            <input type="text" placeholder="type" name="type">
            <textarea rows="5" cols="40" type="text" placeholder="features" name="features"></textarea>
            <input type="text" placeholder="taste" name="taste">
            <input type="text" placeholder="image" name="image">
            <textarea rows="5" cols="40" type="text" placeholder="food" name="food"></textarea>
            <input type="text" placeholder="pricer" name="price">
            <input type="text" placeholder="aka" name="aka">
            <button type="submit">SUBMIT NEW</button>
            <button type="button" id="updateButton">UPDATE EXISTING</button>
        </form>    

    </section>
    <section class="column">
        <h2>Current Wine</h2>
        <ul class="wines">
            <% for(let i=0; i < info.length; i++) {%>
                <li class="typeWine">
                    <span><%= info[i] %></span>
                </li>    
            <% } %>
        </ul>    
    </section>
</section>
<script src='/client-side-code/js/main.js'></script>
</body>
</html>