@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro&family=Yeseva+One&display=swap');

:root {
  --primary-color: #047aed;
  /* --clr-primary-300: #F3EE09;
  --clr-primary-400: #824936;

  --clr-nuetral-100: #FFF;
  --clr-nuetral-900: #222C2A;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent:'Playfair Display', serif; */

  --padding-sm: clamp(1rem,    3%, 1.5rem);
  --padding-md: clamp(1.5rem,  6%,   3rem);
  --padding-lg: clamp(3rem,   12%,   6rem);

  --layout-gap-sm: clamp(1rem,   3vmax, 1.5rem)
  --layout-gap-md: clamp(1.5rem, 6vmax,   3rem);
  --layout-gap-lg: clamp(3rem,   8vmax,   4rem);

}



* {
  box-sizing: border-box;
  margin: 0;
}

/* .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
} */

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%
}

/* Nav styling*/

.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

/* .logo {

  height: 70px;
  width: 20%;
  position: relative;
  padding: 10px;
  margin: 0 5px;

} */
.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;

}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

/*Top info*/

.top {
  height: 200px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.top .grid {
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.top h1 {
  font-size: 40px;
}

.top p {
  margin: 20px 0;
}

/*Main Info*/
.mainInfo {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position:relative;
}

.mainInfo .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  gap: 30px;
}

.mainInfo h2 {
  font-size: 20px;
}

.mainInfo p {
  margin: 20px 0;
}

.mainInfo-form {
  position: relative;
  top: 60px;
  height: 350px;
}

/* Utilities*/
.container {
  /* max-width: 1100px;
  margin: 0 auto; */
  overflow: auto;
  padding: 0 40px;
  width: min(100vw - 3rem, var(--container-max, 80ch) );
  margin-inline: auto;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 1px;
  box-shadow: 0 10px rgba(0,0,0,0.2);
  padding:20px;
  margin: 10px;

}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.grid {
  display: grid;
  /* grid-template-columns: 2fr 1fr; */
  gap: 20px;
  justify-content: center;
  align-items: center;
  height:100%;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));

}